<div class="blogpost">

  <div class="blogpost-upperdiv">
    <h2 class="blogpost-title">{{post.title}}</h2>
    <h4 class="blogpost-subtitle">{{post.subtitle}}</h4>
    <p class="blogpost-author"> written by
      {{#link-to "profile-public" post.owner}} {{!-- Link-to will automatically use the post.owners id property https://guides.emberjs.com/v2.10.0/templates/links/  --}}
        <h3>{{post.owner.username}}</h3>
      {{/link-to}} 
    </p>
    <p class="blogpost-date">{{post.date}}</p>
    <h5 class="blogpost-{{post.blogType}}"></h5>
  </div>
  
  <div class="blogpost-lowerdiv">

    {{!-- <h3 style="display:inline-block">Readers:</h3> --}}
    {{#each post.friends as |friend|}}
      {{#link-to "profile-public" friend._id}} 
        <h3 class="chip inline chip-small yellow-blue"> {{friend.username}} </h3>
      {{/link-to}}
    {{/each}}

    {{!-- Toggle FriendsList --}}
    {{#if showFriendsList}}
      <div class="chip inline chip-small red small" {{action "showFriends"}} > x </div>
    {{else}}
      <div class="chip inline chip-small green small" {{action "showFriends"}} > + </div>
    {{/if}}

    <div id="editPost-friends">
      {{!-- SHOW FRIENDS LIST --}}
      {{#if showFriendsList}}
        {{!-- FRIENDS LIST --}}
        <div class="friendslist-container friendslist-short friendslist-blue">
          {{friends-add 
            friends=session.data.authenticated.user.friends
          }}
        </div>
        {{!-- ADDED FRIENDS --}}
        <div class="friendslist-container friendslist-short friendslist-blue">
          {{friends-added 
            friends=modelFriendsArray
          }}
        </div>
        {{!-- OK BUTTOn --}}
        <div class="chip block chip-large green-yellow"> OK </div>
      {{/if}}
    </div>

    {{!-- CONTENT --}}
    {{#if (eq post.blogType 'private') }} {{!-- 'eq' is a helper that lets us use conditionals--}}

      {{#if showPrivateContent}}
        {{#if editingPost}}
          <input class="blogpost-content-edit" value={{private_content}}> 
          <button class="chip inline-block chip-small red" {{action 'cancelEdit'}}> Cancel </button>  
          <button class="chip inline-block chip-small blue" {{action 'cancelEdit'}}> Save </button>  
        {{else}}
          <p class="blogpost-content" onclick={{action 'editPost' post}}> {{private_content}} </p>
        {{/if}}
        
      {{else}}

        <form class="private-post form" {{action 'confirmPostPassword' post.id postPassword on="submit"}}>
          {{input class="post-password" type="Post Password" type="text" placeholder="Enter Password" value=postPassword}}
          <button class="chip inline chip-small green password-confirm" type="submit">
            <img style="width:50px;" src="assets/images/check.png">
          </button>
          {{!-- <button class="chip inline chip-small red" {{action ""}} > Cancel </button> --}}
        </form>
      {{/if}}
    {{else}}
        {{#if editingPost}}
          <input class="blogpost-content-edit" value={{post.content}}> 
          <button class="chip inline-block chip-small red" {{action 'cancelEdit'}}> Cancel </button>
          <button class="chip inline-block chip-small blue" {{action 'cancelEdit'}}> Save </button>  
        {{else}}
          <p class="blogpost-content" onclick={{action 'editPost' post}}> {{post.content}} </p>
        {{/if}}
    {{/if}}
  </div>
    
    {{#if (eq post.owner._id currentUser.user.id)}}
      <div class="chips-right">
        <button class="chip inline-block chip-small red" {{action 'deletePost' post}}> Delete </button>      
        {{!-- <button class="chip inline-block chip-small blue" {{action 'editPost' post}}> Edit </button> --}}
      </div>
    {{/if}}

</div>