<div class="blogpost">

  <div class="blogpost-upperdiv">

    {{edit-post content=post.title post=post class="blogpost-title"}}
    {{edit-post content=post.subtitle post=post class="blogpost-subtitle"}}
    <p class="blogpost-author"> written by
      {{#link-to "profile-public" post.owner._id}} 
        <h3>{{post.owner.username}}</h3>
      {{/link-to}} 
    </p>
    <p class="blogpost-date">{{post.date}}</p>

    {{!-- SYMBOL FOR BLOG TYPE (Public/Private) --}}
    {{#if post.private}}
      <h5 class="blogpost-private"></h5>
    {{else}}
      <h5 class="blogpost-public"></h5>
    {{/if}}
  </div>
  
  <div class="blogpost-lowerdiv">



    {{!-- CONTENT --}}
    {{#if post.private }}
        {{#if post.hasPassword}}
            {{#if showPrivateContent}}
              <div id="editPost-friends">
                {{!-- SHOW FRIENDS LIST --}}
                {{#if showFriendsList}}
                    <div class="chip inline chip-small red small" {{action "showFriends" post}} > x </div>
                  {{!-- FRIENDS LIST --}}
                  <div class="friendslist-container friendslist-short background-blue">
                    {{friends-add 
                      modelFriendsArray=modelFriendsArray
                      friends=session.data.authenticated.user.friends
                    }}
                  </div>
                  {{!-- ADDED FRIENDS --}}
                  <div class="friendslist-container friendslist-short background-blue">
                    {{friends-added 
                      modelFriendsArray=modelFriendsArray
                    }}
                  </div>
                  {{!-- OK BUTTOn --}}
                  <div class="chip block chip-large green-yellow" {{action "saveFriends" post}}> OK </div>
                {{else}}
                  {{!-- Toggle FriendsList --}}
                    {{!-- <h3 style="display:inline-block">Readers:</h3> --}}
                    {{#each post.friends as |friend|}}
                      {{#link-to "profile-public" friend._id}} 
                        <h3 class="chip inline chip-small yellow-blue"> {{friend.username}} </h3>
                      {{/link-to}}
                    {{/each}}
                    <div class="chip inline chip-small green small" {{action "showFriends"}} > + </div>
                {{/if}}
              </div>
              {{edit-post content=private_content post=post class="blogpost-content"}} 
            {{else}} {{!-- If Private, hasPassword, but no password has been entered --}}
              <form id="passwordForm_{{post.id}}" class="private-post form" {{action 'confirmPostPassword' post.id postPassword on="submit"}}>
                {{input class="post-password" placeholder="Enter Password" value=postPassword}}
                <button class="chip inline chip-small green password-confirm" type="submit">
                  <img style="width:50px;" src="assets/images/check.png">
                </button>
              </form>
            {{/if}}
        {{else}} {{!-- !hasPassword --}}
            <div id="editPost-friends">
                {{!-- SHOW FRIENDS LIST --}}
                {{#if showFriendsList}}
                    <div class="chip inline chip-small red small" {{action "showFriends"}} > x </div>
                  {{!-- FRIENDS LIST --}}
                  <div class="friendslist-container friendslist-short background-blue">
                    {{friends-add 
                      modelFriendsArray=modelFriendsArray
                      friends=session.data.authenticated.user.friends
                    }}
                  </div>
                  {{!-- ADDED FRIENDS --}}
                  <div class="friendslist-container friendslist-short background-blue">
                    {{friends-added 
                      modelFriendsArray=modelFriendsArray
                    }}
                  </div>
                  {{!-- OK BUTTOn --}}
                  <div class="chip block chip-large green-yellow" {{action "saveFriends" modelFriendsArray}}> OK </div>
                {{else}}
                  {{!-- Toggle FriendsList --}}
                    {{!-- <h3 style="display:inline-block">Readers:</h3> --}}
                    {{#each post.friends as |friend|}}
                      {{#link-to "profile-public" friend._id}} 
                        <h3 class="chip inline chip-small yellow-blue"> {{friend.username}} </h3>
                      {{/link-to}}
                    {{/each}}
                    <div class="chip inline chip-small green small" {{action "showFriends"}} > + </div>
                {{/if}}
              </div>
            {{edit-post content=post.content post=post class="blogpost-content"}}
        {{/if}}
    {{else}} {{!-- !Private --}}
        {{edit-post content=post.content post=post class="blogpost-content"}}
    {{/if}}
  </div>
    
    {{#if (eq post.owner._id currentUser.user.id)}}
      <div class="chips-right">
        <button class="chip inline-block chip-small red" {{action 'deletePost' post}}> Delete </button>      
        {{!-- <button class="chip inline-block chip-small blue" {{action 'editPost' post}}> Edit </button> --}}
      </div>
    {{/if}}

</div>