{{#if editingPost}}
	<form {{action 'savePost' post on="submit"}}>
    	<textarea id="editpost-inputblogpost-textarea{{post.id}}{{tinymcePostCounter}}" >{{content}}</textarea> {{!-- The {{get}} helper allows you to dynamically specify which property to bind, while the {{mut}} helper allows the binding to be updated from the input. See the respective helper documentation for more detail. --}}
    	<button class="chip inline-block chip-small red" {{action 'cancelEdit' post}}>Cancel</button>
    	<button type="submit" class="chip inline-block chip-small blue"> Save </button>  
    </form>
{{else}}
	{{!-- The triple {{{}}} allows us to render the content as HTML instead of text --}}
  <p class={{classMain}} onclick={{action 'editPost' post}}> {{{content}}} </p>
{{/if}}