{{#if newBlogPost}}
  <div>
    <form id="form-newpost" {{action 'newPost' model.blogPost on="submit"}}>
      <h2 class="form-signin-heading">New Post</h2>

      {{!-- AVAILABLE ONLY IN PRIVATE MODE - ADD FRIENDS OPTION--}}
      {{#if private}}
        <div style="width: 400px; margin:auto;">
          {{#if showFriendsList}}
            <div class="chip chip-large block warn" {{action "toggleShowFriendsList"}} >
              <h2> x </h2>
            </div>
          {{else}}
            <div class="chip chip-large block blue-yellow" {{action "toggleShowFriendsList"}} >
              <h2> Add Readers </h2>
            </div>
          {{/if}}
        </div>

        {{#if showFriendsList}}
          {{!-- FRIENDS LIST --}}
          <div class="friendslist-container friendslist-short friendslist-blue">
            {{friends-add 
              friends=session.data.authenticated.user.friends
              modelFriendsArray=modelFriendsArray
              addfriendParent=(action 'addfriend')
            }}
          </div>
          {{!-- ADDED FRIENDS --}}
          <div class="friendslist-container friendslist-short friendslist-blue">
            {{friends-added 
              friends=modelFriendsArray
              removefriendParent=(action 'removefriend')
            }}
          </div>
        {{/if}}

      {{/if}} {{!-- /private --}}

      {{!-- STANDARD BLOG-POST INPUTS ... PRIVATE and PUBLIC --}}
      {{#if private}}
        {{#if setPassword}}
          {{input class="newpost-password" type="password" type="text" placeholder="Password" value=postPassword}}<br>
          <div style="text-align: left; margin: 0 70px;">
            <div class="chip chip-small inline red" {{action "toggleSetPassword"}} >NeverMind</div>
          </div>
        {{else}}
          <div style="text-align: left; margin: 0 70px;">
            <div class="chip chip-small inline blue-yellow" {{action "toggleSetPassword"}} >Password Protect ?</div>
          </div>
        {{/if}}
      {{/if}}
      {{input class="newpost-title" type="title" type="text" placeholder="Title" value=title}}<br>
      {{input class="newpost-subtitle" type="subtitle" type="text" placeholder="Sub Title" value=subtitle}}<br>
      {{textarea id="blogpost-textarea" class="newpost-content" type="content" type="text" placeholder="Content" value=postcontent}}<br>
      <button class="chip inline chip-small green" type="submit" type="blogPost"> Post </button>
      <button class="chip inline chip-small red" {{action "toggleNewPost"}} > Cancel </button>

    </form>
  </div>
{{else}}
  <div>
    <div class="newpost-button">
      <button {{action "toggleNewPost" "private"}} > PRIVATE </button>
    </div>
    <div class="newpost-button">
      <button {{action "toggleNewPost" "public"}}> PUBLIC </button>
    </div>
  </div>
{{/if}} {{!-- /newBlogPost --}}