{{#if newBlogPost}}
  <div>
    <form id="form-newpost" {{action 'newPost' model.blogPost on="submit"}}>
      <h2 class="form-signin-heading">New {{#if isPrivate}}Private{{else}}Public{{/if}} Post</h2>

      {{!--ADD FRIENDS OPTION (Private Only)--}}
      {{#if isPrivate}}

        <div class="newpost-chips-container">

          {{!-- Set Password Options --}}
          <div class="newpost-password-protect">
            {{#if setPassword}}
              <div class="newpost-button-container">
                <div class="chip chip-small inline red newpostchip" {{action "toggleSetPassword"}} >NeverMind</div>
                {{input id="newpost-password" type="password" type="text" placeholder="Password" value=postPassword}}
              </div>
            {{else}}
              <div class="newpost-button-container">
                <div class="chip chip-small inline blue-yellow newpostchip" {{action "toggleSetPassword"}} >Password Protect ?</div>
              </div>
            {{/if}}
          </div>
          {{!-- Add Readers Options --}}
          <div class="newpost-readers-container">
            {{#if showFriendsList}}
              <div class="newpost-button-container" {{action "toggleShowFriendsList"}} >
                <div class="chip chip-small inline red warn newpostchip"> Cancel </div>
              </div>
            {{else}}
              <div class="newpost-button-container">
                <div class="chip chip-small inline blue-yellow newpostchip" {{action "toggleShowFriendsList"}}> Add Readers </div>
              </div>
            {{/if}}
          {{#if showFriendsList}}
            <div class="addfriends-container">
              {{!-- FRIENDS LIST --}}
              <div class="friendslist-container background-blue">
                {{friends-add 
                  friends=session.data.authenticated.user.friends
                  modelFriendsArray=modelFriendsArray
                }}
              </div>
            </div>
            <div class="addedfriends-container">
              {{!-- ADDED FRIENDS --}}
              <div class="friendslist-container background-blue">
                {{friends-added 
                  modelFriendsArray=modelFriendsArray
                }}
              </div>
            </div>
          {{/if}}
          </div>
        </div>

      {{/if}}
      
      {{!-- STANDARD BLOG-POST INPUTS ... PRIVATE and PUBLIC --}}
      <div id="form-newpost-standardinputs">
        {{input required="required" class="newpost-input newpost-title" type="title" type="text" placeholder="Title" value=title}}
        <br>
        {{input required="required" class="newpost-input newpost-subtitle" type="subtitle" type="text" placeholder="Sub Title" value=subtitle}}
        <br>
        {{textarea required="required" id="newpost-inputblogpost-textarea" class="newpost-content" type="content" type="text" placeholder="Content" value=postcontent}}<br>
        <button class="chip inline chip-small green" type="submit" type="blogPost"> Post </button>
        <button class="chip inline chip-small red" {{action "toggleNewPost"}} > Cancel </button>
      </div>

    </form>
  </div>
{{else}}
  <div>
    <div class="newpost-button">
      <button {{action "toggleNewPost" "private"}} > PRIVATE </button>
    </div>
    <div class="newpost-button">
      <button {{action "toggleNewPost" "public"}}> PUBLIC </button>
    </div>
  </div>
{{/if}} {{!-- /newBlogPost --}}