<div id="main-container">

{{#if reverse}}
  <div class="newpost-options">
    
      {{newpost-template 
          newBlogPost=newBlogPost
          reverse=reverse
          friends=session.data.authenticated.user.friends
          }}

  </div>

  <div id="user-container">

    {{!-- Blog Post Component --}}
    <div id="blogposts-container" class="blogposts-split">
      {{#each reverse as |post|}}
        {{blog-post-template 
            modelFriendsArray=post.friends
            post=post
            reverse=reverse
          }} 
      {{/each}}

    </div>

    {{!-- FRIENDS LIST COMPONENT --}}
    <div class="friendslist-container friendslist-split background-blue">
      {{friends-list friends=session.data.authenticated.user.friends}}
    </div>

  </div>

{{else}} {{!-- else !reverse --}}

  <div class="newpost-options">
    {{newpost-template 
        newBlogPost=newBlogPost
        reverse=reverse
        friends=session.data.authenticated.user.friends
      }}


  </div>


  <div>Write your first Blog Post by selecting whether it is a privately vieweable post or a publicly viewable above</div>

{{/if}}
    {{!-- FRIENDS LIST COMPONENT --}}
    <div class="friendslist-container friendslist-split background-blue">
      {{friends-list friends=session.data.authenticated.user.friends}}
    </div>

</div>