{{#if reverse}}
  <div class="newpost-options">
    
      {{newpost-template 
          newBlogPost=newBlogPost
          reverse=reverse
          friends=session.data.authenticated.user.friends
          }}

  </div>

  <div id="user-container">

    {{!-- Blog Post Component --}}
    <div id="blogposts-container" class="blogposts-split">
      {{#each reverse as |post|}}
        {{blog-post-template 
            modelFriendsArray=post.friends
            post=post
            reverse=reverse
          }} 
      {{/each}}

    </div>

    {{!-- FRIENDS LIST COMPONENT --}}
    <div class="friendslist-container friendslist-split background-blue">
      {{friends-list friends=session.data.authenticated.user.friends}}
    </div>

  </div>

{{else}} {{!-- else !reverse --}}

  <div class="newpost-options">
    {{newpost-template 
        newBlogPost=newBlogPost
        reverse=reverse
        friends=session.data.authenticated.user.friends
      }}
  </div>
  
  <div id="blogposts-container" class="blogposts-split">
    <div class="blogpost">
      <div style="text-align:center;padding:20px 10px;">
      You haven't written any blog posts yet! To write your first Blog Post, select either a Public (viewable by anyone) or Private (viewable only by including friends) Post.
      </div>
    </div>
  </div>

    {{!-- FRIENDS LIST COMPONENT --}}
    <div class="friendslist-container friendslist-split background-blue">
      {{friends-list friends=session.data.authenticated.user.friends}}
    </div>
{{/if}}

