 <div id="main-container">
 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav">
              <li class="navbar-button nav-brand" {{ action "routeToHome"}}>
                Private Blog
              </li>
              <li class="navbar-button nav-home" {{ action "routeToHome"}}> 
                Home 
              </li>
              {{#if session.isAuthenticated}}
                {{#if currentUser.user}}
                    {{#link-to "profile"}} 
                      <li class="navbar-button nav-profile"> 
                          Profile {{!-- {{currentUser.user.username}} --}}
                      </li>
                    {{/link-to}} 
                {{/if}}
                  <li class="navbar-button nav-logout" {{action 'logout'}}> 
                    Logout 
                  </li>
                {{else}}
                    {{#link-to "signup" }}
                      <li class="navbar-button nav-signup">
                          Sign Up
                      </li>
                    {{/link-to}}
                    {{#link-to "login" }}
                      <li class="navbar-button nav-login">
                          Log In
                      </li>
                    {{/link-to}}
              {{/if}}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </nav>

    {{outlet}}
</div>


