<h1>Below are different pages!!</h1>

{{!-- The session.isAuthenticated comes from our session service that is injected into our application.js controller --}}
{{#link-to "home" class="buttons header" tagName="button"}} Home {{/link-to}}

{{#if session.isAuthenticated}}
  <button {{action 'logout'}}> Logout </button>
  {{#if currentUser.user}}
    {{!-- Current User is being sent from server as a JSON object like this:
    {user: {_id: 58672eb6b81a5b2871ce1410, username: "name", email:"email",}} --}}
    <div style="width: 200px;"><p>Signed in as: </p> {{#link-to "profile" class="buttons profile"}} {{currentUser.user.username}} {{/link-to}} </div>
  {{/if}}
{{else}}
  {{#link-to "signup" class="buttons header" tagName="button"}}
    Sign Up
  {{/link-to}}
  {{#link-to "login" class="buttons header" tagName="button"}}
    Log In
  {{/link-to}}
{{/if}}

{{!-- {{#link-to "blog-posts" model class="buttons header" tagName="button"}} Your Blog Posts {{/link-to}} --}}
<button {{action "routeToBlogPosts"}}> Your Blog Posts </button>

{{outlet}}