<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Your Private Blog Awaits</h1>
  </div>


{{!--   {{#link-to "blog-posts.new"}}
    <button class="btn btn-lg btn-primary btn-block">  New Post  </button>
  {{/link-to}}


  {{outlet}} --}}

  {{#if newBlogPost}}
    <div>
      {{!-- <h1>New Blog Post</h1><br> --}}
      <form class="form-new-post" {{action 'newPost' model.blogPost on="submit"}}>
        <h2 class="form-signin-heading">New Blog Post</h2>
        {{input class="title" type="title" type="text" placeholder="Title" value=title}}<br>
        {{input class="content" type="content" type="text" placeholder="Content" value=postcontent}}<br>

        <button class="btn btn-lg btn-primary btn-block" type="submit" type="blogPost"> Post </button>
        <button class="btn btn-lg btn-danger btn-block" {{action "toggleNewPost"}} > Cancel </button>

      </form>
    </div>
  {{else}}
    <button class="btn btn-lg btn-primary btn-block" {{action "toggleNewPost" }} >  New Post  </button>
    {{!-- <button class="btn btn-sm btn-danger" {{action "toggleEditUsername" }} > EDIT </button> --}}
  {{/if}}

  <div class="row">

    <div class="col-sm-8 blog-main">

      {{#each reverse as |post|}}
        <div class="blog-post">
          <h2 class="blog-post-title">{{post.title}}</h2>
          <p class="blog-post-meta">{{post.date}} {{#link-to "profile-public" post.owner}} {{post.owner}} {{/link-to}} </p>

          <p> {{post.content}} </p>
          <button class="btn btn-sm btn-danger" {{action 'deletePost' post.id}}> Delete </button>

        </div><!-- /.blog-post -->
      {{/each}}

      <nav>
        <ul class="pager">
          <li><a href="#"> Previous (***)</a></li>
          <li><a href="#"> Next (***)</a></li>
        </ul>
      </nav>

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About (***)</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div class="sidebar-module">
        <h4>Archives (***)</h4>
        <ol class="list-unstyled">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->

