
<div class="container">
  <div class="form-signin">
    <h2 class="form-signin-heading">Please log in</h2>
    <form class="form-signin" {{action 'login' on="submit"}}>

      <label for="inputEmail" class="sr-only"> Email address </Label>
      {{input id="inputEmail" type="text" type="email" class="form-control" autofocus="" required="required" placeholder="Email" value=username}}<br>
      <label for="password" class="sr-only"> Password </Label>
      {{input id="inputPassword" type="password" class="form-control" placeholder="Password" required="required" value=password}}<br>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me?
        </label>
      </div>

      <button type="submit" type="login" class="btn btn-lg btn-primary btn-block"> Log In </button>
      {{#link-to "signup"}} <button class="btn btn-lg btn-primary btn-block"> Sign Up </button> {{/link-to}}

    </form>

    {{#if errorMessage}}
      <p> <strong>Login failed </strong> </p>
      <code> {{errorMessage}} </code>
    {{/if}}

  </div>
</div>

{{outlet}}



