<div id="main-container">

  <div id="profile-container">
  	<h1 class="username">{{model.user.username}}</h1>
  	<h2 class="name"> {{model.user.fullname}}</h2>
  	<h3 class="email"> {{model.user.email}}</h3>
  	<p class="bio"> {{model.user.bio}}</p>
  	<h3 class="avatar"> {{model.user.user}}</h3>
  </div>

    <div id="blogposts-container">
      {{#each model.posts as |post|}}
        <div class="blogpost">

          <div class="blogpost-upperdiv">
            <h2 class="blogpost-title">{{post.title}}</h2>
            <h4 class="blogpost-subtitle">{{post.subtitle}}</h4>
            <p class="blogpost-author"> written by
              {{#link-to "profile-public" post.owner}} {{!-- Link-to will automatically use the post.owners id property https://guides.emberjs.com/v2.10.0/templates/links/  --}}
                <h3>{{post.owner.username}}</h3>
              {{/link-to}} 
            </p>
            <p class="blogpost-date">{{post.date}}</p>
            <h5 class="blogpost-{{post.blogType}}"></h5>
          </div>
          
          <div class="blogpost-lowerdiv">
            {{#each post.friends as |friend|}}
              {{#link-to "profile-public" friend._id}} 
                <h3 class="blogpost-friend"> {{friend.username}} </h3>
              {{/link-to}}
            {{/each}}

            <p class="blogpost-content"> {{post.content}} </p>
          </div>
            <button class="newpost-delete-button" {{action 'deletePost' post.id}}> Delete </button>

        </div>
      {{/each}}

    </div>


  {{outlet}}

</div>