<h1>Edit Your Profile</h1>

<div>

  {{!-- If the 'editingUserName' property is true, show form for edit, otherwise show the users information --}}
  {{#if editingUserName}}
    <form {{action 'editUser' on="submit" }} >
      {{input type="text" placeholder="New User Name" value=newusername}}
      {{input type="text" placeholder="Confirm Your Password" value=password}}
      <button class="btn btn-sm btn-warning" type="submit"> SAVE </button>
    </form>
    <button class="btn btn-sm btn-danger" {{action "toggleEditUsername" }} > CANCEL </button>
  {{else}}
    <div style="display:block; width:auto"><p> <b>UserName:</b> {{session.data.authenticated.user.username}}</p></div>
    <button class="btn btn-sm btn-danger" {{action "toggleEditUsername" }} > EDIT </button>
  {{/if}}

  {{!-- If the 'editingEmail' property is true, show form for edit, otherwise show the users information --}}
  {{#if editingEmail}}
    <form {{action 'editUser' on="submit"}}>
      {{input type="text" placeholder="New Email" value=newemail}}
      {{input type="text" placeholder="Confirm Your Password" value=password}}
      <button class="btn btn-sm btn-warning" type="submit"> SAVE </button>
    </form>
    <button class="btn btn-sm btn-danger" {{action "toggleEditEmail" }} > CANCEL </button>
  {{else}}
      <div style="display:block; width:auto"><p> <b>Email:</b> {{session.data.authenticated.user.email}}</p></div>
      {{!-- <div style="display:block; width:auto"><p> <b>Email:</b> {{currentUser.user.email}}</p></div> --}}
      <button class="btn btn-sm btn-danger" {{action "toggleEditEmail"}} > EDIT </button>
  {{/if}}

  {{#if confirmPasswordError}}
      <div class="error">
        <h1>The Password you entered was incorrect</h1>
      </div>
  {{/if}}

  <br />

  {{#link-to "profile-public" session.data.authenticated.user._id}}
    <button class="btn btn-lg btn-default"> View Your Profile </button>
  {{/link-to}}

</div>

{{outlet}}
