<div id="main-container">

  <div id="profile-container">
  	<h1 class="username">{{model.user.username}}</h1>
  	<h2 class="name"> {{model.user.fullname}}</h2>
  	<h3 class="email"> {{model.user.email}}</h3>
  	<p class="bio"> {{model.user.bio}}</p>
  	<h3 class="avatar"> {{model.user.user}}</h3>
  </div>

    <div id="blogposts-container">
      {{#each reverse as |post|}}
        {{blog-post-template 
          reverse=reverse
          post=post}}
      {{/each}}

    </div>

  {{outlet}}

</div>