<div id="main-container">
  <div id="profile-container">
    <h1 class="username">{{model.user.username}}</h1>
    <h2 class="name"> {{model.user.fullname}}</h2>
    <h3 class="email"> {{model.user.email}}</h3>
    <p class="bio"> {{model.user.bio}}</p>
    <h3 class="avatar"> {{model.user.user}}</h3>
  </div>

  <div id="profile-container">

    {{!-- If the 'editingUserName' property is true, show form for edit, otherwise show the users information --}}
    {{#if editingUserName}}
      <form {{action 'editUser' on="submit" }} >
        {{input type="text" placeholder="New User Name" value=newusername}}
        {{input type="text" placeholder="Confirm Your Password" value=password}}
        <button class="newpost-post-button" type="submit"> SAVE </button>
      </form>
      <button class="newpost-cancel-button" {{action "toggleEditUsername" }} > CANCEL </button>
    {{else}}
      <h1 class="username">{{session.data.authenticated.user.username}}</h1>
      <button class="chip inline chip-large blue-yellow" {{action "toggleEditUsername" }} > EDIT </button>
    {{/if}}

    {{!-- If the 'editingName' property is true, show form for edit, otherwise show the users information --}}
    {{#if editingName}}
      <form {{action 'editUser' on="submit"}}>
          {{input type="text" placeholder="New First Name" value=newFirstname}}
          {{input type="text" placeholder="New Last Name" value=newLastname}}
          {{input type="text" placeholder="Confirm Your Password" value=password}}
          <button class="newpost-post-button" type="submit"> SAVE </button>
      </form>
      <button class="newpost-cancel-button" {{action "toggleEditName" }} > CANCEL </button>
    {{else}}
        <h2 class="name"> {{session.data.authenticated.user.firstname}} {{session.data.authenticated.user.lastname}}</h2>
        <button class="chip inline chip-large blue-yellow" {{action "toggleEditName"}} > EDIT </button>
    {{/if}}

    {{!-- If the 'editingEmail' property is true, show form for edit, otherwise show the users information --}}
    {{#if editingEmail}}
      <form {{action 'editUser' on="submit"}}>
        {{input type="text" placeholder="New Email" value=newemail}}
        {{input type="text" placeholder="Confirm Your Password" value=password}}
        <button class="newpost-post-button" type="submit"> SAVE </button>
      </form>
      <button class="newpost-cancel-button" {{action "toggleEditEmail" }} > CANCEL </button>
    {{else}}
        <h3 class="email">{{session.data.authenticated.user.email}}</h3>
        <button class="chip inline chip-large blue-yellow" {{action "toggleEditEmail"}} > EDIT </button>
    {{/if}}

    {{!-- If the 'editingName' property is true, show form for edit, otherwise show the users information --}}
    {{#if editingBio}}
      <form {{action 'editUser' on="submit"}}>
          {{input type="text" placeholder="New Bio" value=newBio}}
          {{input type="text" placeholder="Confirm Your Password" value=password}}
          <button class="newpost-post-button" type="submit"> SAVE </button>
      </form>
      <button class="newpost-cancel-button" {{action "toggleEditBio" }} > CANCEL </button>
    {{else}}
        <p class="bio"> {{session.data.authenticated.user.bio}} </p>
        <button class="chip inline chip-large blue-yellow" {{action "toggleEditBio"}} > EDIT </button>
    {{/if}}



    {{#if confirmPasswordError}}
        <div class="error">
          <h1>The Password you entered was incorrect</h1>
        </div>
    {{/if}}

    <br />

    {{#link-to "profile-public" session.data.authenticated.user._id}}
      <button class="chip inline chip-large blue-yellow"> View Your Public Profile </button>
    {{/link-to}}

  </div>

  {{outlet}}
</div>
