
<div class="container">
  <div class="form-signin">
    <h2>Sign up by Filling out the form below</h2><br>
    <form class="form-signin" {{action 'signup' on="submit"}}>
      {{input class="form-control" autofocus="" required="" type="text" placeholder="Username" value=username}}<br>
      {{input class="form-control" autofocus="" required="" type="text" placeholder="Email" value=email}}<br>
      {{input class="form-control" autofocus="" required="" type="text" placeholder="Password" value=password}}<br>
      {{input class="form-control" autofocus="" required="" type="text" placeholder="firstname" value=firstname}}<br>
      {{input class="form-control" autofocus="" required="" type="text" placeholder="lastname" value=lastname}}<br>
      {{input class="form-control" autofocus="" required="" type="text" placeholder="bio" value=bio}}<br>

      <button type="submit" class="btn btn-lg btn-primary btn-block"> Sign Up </button>

    </form>
  </div>
</div>

{{outlet}}